@import "../vars.scss";

.nobreak {
  display: inline-block;
}

.Soon {
  background-image: grd-l-gray(135);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0.9rem;
  display: grid;
  color: $clr-p-red-desat;
  max-width: 440px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3em;

  span {
    font-weight: 600;
    color: $clr-n-red-gray;
  }
}

header {
  display: flex;
  align-items: center;
  padding: 1.8rem;
  max-height: 10rem;

  img {
    height: 1.5rem;
  }
}

.heroImage {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  gap: 1rem;
  line-height: 1.75;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}

form {
  height: 3rem;
  margin-top: 1rem;

  .inputs {
    height: 3rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    input {
      height: 100%;
      border-radius: 999px;
      padding: 0.75rem 1.5rem;
    }

    input[name="email"] {
      width: 100%;
      color: $clr-n-red-gray;
      background: transparent;
      border: 1px solid lighten($clr-p-red-desat, 10%);
      padding-right: 6.5rem;
    }

    input:focus,
    input:active {
      outline: 0;
    }

    input::placeholder {
      color: $clr-p-red-desat;
    }

    input[name="submitButton"] {
      background: grd-l-red(135);
      color: white;
      font-size: 2rem;
      position: absolute;
      right: 0;
      display: flex;
      border: 0;
      align-items: center;
      justify-content: center;
      line-height: 0;
      transition: filter 50ms ease;

      &:hover,
      &:focus {
        filter: brightness(1.25);
      }

      &:active {
        background: $clr-p-red-desat;
      }
    }

    p {
      position: absolute;
      bottom: -2rem;
      margin-left: 1rem;
      visibility: hidden;
      color: $clr-p-red-soft;
    }

    input[name="email"].invalid {
      outline: 2px solid $clr-p-red-soft;
      ~ p.invalidInputText {
        visibility: visible;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .Soon {
    background-image: url("../assets/images/bg-pattern-desktop.svg");
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1.5fr 1fr;
    max-width: 1440px;
    min-height: unset;
  }

  header {
    padding: 0 min(10rem, 20%);
  }

  .content {
    justify-content: center;
    gap: 2rem;
    padding: 2rem min(10rem, 20%);
    grid-row: 2 / -1;
    text-align: left;
    max-width: 80ch;

    h1 {
      font-size: 4rem;
    }

    .inputs input[name="submitButton"] {
      width: 5.5rem;
    }
  }

  header,
  .content {
    grid-column: 1;
  }

  .heroImage {
    grid-column: 2;
    grid-row: 1 / -1;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
